{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>{{ 'Question index'|trans }} </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Text{% endtrans %}</th>
                 <th>{% trans %}Categories{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td> {% for categorie in question.categories %} {{ categorie.shortname }}  {% endfor %} </td>
                <td>
                    

                    <a href="{{ path('question_show', {'id': question.id}) }}">{% trans %}show{% endtrans %}</a>
                    
                    <a href="{{ path('question_edit', {'id': question.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      <a href="{{ path('question_new', {'nb': 2}) }}"> {% trans %}2 answers{% endtrans %}</a>,
    <a href="{{ path('question_new', {'nb': 3}) }}">{% trans %} 3 answers{% endtrans %}</a>
    or <a href="{{ path('question_new', {'nb': 4}) }}"> {% trans %}4 answers{% endtrans %}</a>
{% endblock %}
